 @using MyEntegrasyon.Models.Myikas.Category
 @model List<ListCategory>


<style>
    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>



<a asp-action="Delete" asp-controller="Category" class="btn btn-danger">Tüm Kategorileri Sil</a>

<table id="customers">
    <thead>
        <tr>
         
            <th>id</th>
            <th>name</th>
         

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
               
                <td>@item.id</td>
                <td>@item.name</td>
               
                <td>
                </td>
            </tr>
        }


    </tbody>
</table>

