@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>





<script>




    $.ajax({
        url: "http://95.70.226.23:1515/(S(aowglxhlpp3m2bpsryoi43n5))/IntegratorService/Connect",
        context: document.body
    }).done(function () {
        alert("fffff");
        $(this).addClass("done");
    });











   


</script>